*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --saturated-blue:hsl(238, 29%, 16%);
  --soft-red:hsl(14, 88%, 65%);
  --violet:hsl(273, 75%, 66%);
  --blue:hsl(240, 73%, 65%);
  --dark-blue:hsl(237, 12%, 33%);
  --grayish-blue:hsl(240, 6%, 50%);
  --light-grayish-blue:hsl(240, 5%, 91%);

}

body{
  font-size: 75%;
  font-family: 'Kumbh Sans', sans-serif;
  background:linear-gradient(var(--violet),var(--blue));
  background-repeat: no-repeat;
}
p{
  font-size: 12px;
}

#faq{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#page-title{
  font-size: 40px;
  color: var(--saturated-blue);
}
.container{
  display: grid;
  background-color: white;
  border-radius: 1rem;
  width: 70%;
  grid-template-columns:1fr 1fr;
  padding:1.5rem 0;
  height: 30rem;;
}
.questions-cont{
  margin-right: 2rem;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
.question-card{
  margin-bottom: .5rem;
}

.question-title{
  display: flex;
  justify-content: space-between;
}

.question-title{
  margin:.5rem 0;
}

.arrow-down{
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}